<article class="post">
  <header class="beer-list-header" style="border: 0;">
    <div class="title">
      <h1><a href="{{ .RelPermalink }}">{{ .Title }} {{ partial "beerglass" (dict "ebc" .Params.beercolor "size" 50) }}</a></h1>
      {{ with .Description }}
        <p>{{ . }}</p>
      {{ end }}
    </div>
    <div class="meta beer-list-meta">
      {{ if gt .Params.og 1 }}
      <span class="beer-info">
        <span class="beer-info-title">{{ i18n "original_gravity" }}: </span>{{.Params.og | int}} °P
      </span>
      {{ end }}
      <span class="beer-info">
        <span class="beer-info-title">{{ i18n "abv" }}:</span> {{.Params.ABV}} %
      </span>
      <span class="beer-info">
        <span class="beer-info-title">{{ i18n "ibu" }}:</span> {{.Params.IBU}}
      </span>
    </div>
  </header>
</article>
