{{ $pages := where site.AllPages ".Type" "beers" }}
{{ $beerPages := where $pages ".Params.untappdid" .untappdId }}
{{ $beerPage := index $beerPages 0 }}
<article class="mini-post">
  <header>
    <h2>
      {{ if $beerPage }}<a href="{{ $beerPage.RelPermalink }}"> {{ end }}{{ .name }}{{ if $beerPage }}</a> {{ end }}
      {{ partial "beerglass" $beerPage.Params }}
      {{ if .untappdLink }}<a href="{{.untappdLink}}"><img class="untappd-icon" src="/images/untappd-app-icon.png"></a>{{ end }}
    </h2>
    
  </header>
  <div class="beer-info-box">
    <span class="beer-info">
      <span class="beer-info-title">{{ i18n "original_gravity" }}: </span>{{ lang.NumFmt 1 .og " . ," }} °P
    </span>
    <span class="beer-info">
      <span class="beer-info-title"> {{ i18n "abv" }}: </span>{{ lang.NumFmt 1 .abv " . ," }} %
    </span>
    <span class="beer-info">
      <span class="beer-info-title">{{ i18n "ibu" }}: </span>{{.ibu}}
    </span>
  </div>
  <header>
    <time class="published" datetime="{{ .brewDate }}">{{ dateFormat "2 Jan 2006" .brewDate }}</time>
  </header>
</article>